<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
  <properties resource="jdbc.properties"/>
  
  <typeAliases>
    <typeAlias alias="DT" type="www.bjpowernode.crm.settings.domain.DictionaryType"/>
    <typeAlias alias="DV" type="www.bjpowernode.crm.settings.domain.DictionaryValue"/>
    <typeAlias alias="User" type="www.bjpowernode.crm.settings.domain.User"/>
    <package name="www.bjpowernode.crm.workbench.domain"/>

  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

 
  <mappers>

    <mapper resource="www/bjpowernode/crm/settings/dao/UserDao.xml"/>
    <mapper resource="www/bjpowernode/crm/settings/dao/DictionaryTypeDao.xml"/>
    <mapper resource="www/bjpowernode/crm/settings/dao/DictionaryValueDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ActivityDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ActivityRemarkDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ClueActivityRelationDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ClueDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ClueRemarkDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ContactsActivityRelationDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ContactsDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/ContactsRemarkDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/CustomerDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/CustomerRemarkDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/TranDao.xml"/>
    <mapper resource="www/bjpowernode/crm/workbench/dao/TranHistoryDao.xml"/>

  </mappers>

</configuration>

































